.iampic{
    text-align: center;
    
    font-style: italic;
    color:white;
    
}
.iamtext{
    text-align: center;
    
    font-style: italic;
    color:white;
}
html{
    background-color: black;
}
