.iampic{
    margin-left: +625px;
    font-style: italic;
    color:white;
}
.iamtext{
    margin-left: +500px;
    font-style: italic;
    color:white;
}
html{
    background-color: black;
}
